:host {
  display: block;
}

.error {
  color: red;
}

.subtitle {
  color: gray;
  padding-bottom: 10px;
}

md-list {
  margin-bottom: 20px;
}

md-list-item {
  cursor: pointer;
}

md-list-item:hover {
  background-color: lightgray;
}

.actions {
  display: flex;
  justify-content: end;
}

.action-button {
  margin-left: 10px;
}
